[Unit]
Description=Falastrão BOT
After=network.target

[Service]
Type=simple
User=usuario
WorkingDirectory=/path/to
ExecStart=/usr/bin/node /path/to/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target